{% extends 'base.html' %}

{% block title %}Games List{% endblock %}

{% block content %}
    <h1>Games List</h1>
    <ul>
        {% for game in games %}
            <li>
                <a href="{% url 'game_detail' game.pk %}">{{ game.jmeno }}</a> - 
                {% for developer in game.vyvojari.all %}
                    <a href="{% url 'developer_detail' developer.pk %}">{{ developer.jmeno }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                ({{ game.rok_vydani }}) ({{ game.zanry.all|join:', ' }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
